<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>出口史門のポートフォリオ</title>
    <meta name="description" content="経歴やら趣味やらできることやらを簡潔にまとめてみました。更新頻度多めです。">
    <meta name="twitter:card" content="summary_large_image" /> <!--①-->
    <meta name="twitter:site" content="@__ideguchi" /> <!--②-->
    <meta property="og:url" content="https://fumitoideguchi.herokuapp.com" /> <!--③-->
    <meta property="og:title" content="出口史門のポートフォリオ" /> <!--④-->
    <meta property="og:description" content="経歴やら趣味やらできることやらを簡潔にまとめてみました。更新頻度多めです。" /> <!--⑤-->
    <meta property="og:image" content="<%= asset_url('me_photo.JPG')%>" /> <!--⑥-->
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src="https://kit.fontawesome.com/8dacb28cca.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:300|Amatic+SC:700|Anton|Bangers|Caveat|Cherry+Swash:700|Corben:700|Creepster|Economica:700|Homemade+Apple|IM+Fell+DW+Pica+SC|Kaushan+Script|Londrina+Shadow|Montserrat+Subrayada|Oswald:700|Permanent+Marker|Quicksand|Roboto+Condensed:700|Teko|Vollkorn&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700|Noto+Sans+JP:400,700" rel="stylesheet">
  </head>

  <body bgcolor="#EEE">
    <%= yield %>
  </body>

</html>
