<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>イデグチフミトのportfolio</title>
    <meta name="description" content="出口史門のポートフォリオです。経歴やら趣味やらできることやらを簡潔にまとめてみました。">
    <meta name="twitter:card" content="summary_large_image" /> <!--①-->
    <meta name="twitter:site" content="@__ideguchi" /> <!--②-->
    <meta property="og:url" content="https://fumitoideguchi.herokuapp.com/" /> <!--③-->
    <meta property="og:title" content="イデグチフミトのことが一通りわかるサイト" /> <!--④-->
    <meta property="og:description" content="出口史門のポートフォリオです。経歴やら趣味やらできることやらを簡潔にまとめてみました。出口史門のポートフォリオです。経歴やら趣味やらできることやらを簡潔にまとめてみました。" /> <!--⑤-->
    <meta property="og:image" content="https://fumitoideguchi.herokuapp.com/assets/img-7f11b7c197e0d70f3e9388495ce087a2b50f1fdb6db8bdb0ecb0995f9c6ccd40.JPG" /> <!--⑥-->
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/8dacb28cca.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:300|Amatic+SC:700|Anton|Bangers|Caveat|Cherry+Swash:700|Corben:700|Creepster|Economica:700|Homemade+Apple|IM+Fell+DW+Pica+SC|Kaushan+Script|Londrina+Shadow|Montserrat+Subrayada|Oswald:700|Permanent+Marker|Quicksand|Roboto+Condensed:700|Teko|Vollkorn&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700|Noto+Sans+JP:400,700" rel="stylesheet">
  </head>

  <body bgcolor="#EEE">
    <%= yield %>
  </body>

</html>
